In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# %run Linear_Regression.ipynb

%matplotlib inline

In [2]:
df = df = pd.read_csv('../data.csv')

In [3]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [4]:
col = [
"Make",
"Model",
"Year",
"Engine HP",
"Engine Cylinders",
"Transmission Type",
"Vehicle Style",
"highway MPG",
"city mpg",
"MSRP"]

In [5]:
df = df[col]
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [6]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'msrp'],
      dtype='object')

In [7]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [8]:
df['engine_hp'] = df['engine_hp'].fillna(0)
df['engine_cylinders'] = df['engine_cylinders'].fillna(0)
df.rename(columns={"msrp":'price'}, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_423432\825617368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine_hp'] = df['engine_hp'].fillna(0)
C:\Users\user\AppData\Local\Temp\ipykernel_423432\825617368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine_cylinders'] = df['engine_cylinders'].fillna(0)
C:\Users\user\AppData\Local\Temp\ipykernel_423432\825617368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"msrp":'price'}, inplace=True)

In [9]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [10]:
#Question1
df.transmission_type.value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: transmission_type, dtype: int64

In [11]:
#Question2
corr = df.corr()
corr

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

In [12]:
average = df['price'].mean()

In [13]:
df["above_average"] = (df.price > average).astype(int)
df.above_average

C:\Users\user\AppData\Local\Temp\ipykernel_423432\1457409093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["above_average"] = (df.price > average).astype(int)

0        1
1        1
2        0
3        0
4        0
        ..
11909    1
11910    1
11911    1
11912    1
11913    0
Name: above_average, Length: 11914, dtype: int32

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
cols = ['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg', 'above_average']

In [16]:
df_full_train, df_test = train_test_split(df[cols], test_size=0.20, random_state=42)

In [17]:
len(df_full_train), len(df_test)

(9531, 2383)

In [18]:
#Get 20% of original df in 80% on the new df
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [19]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [20]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [21]:
y_train = df_train['above_average'].values
y_val = df_val['above_average'].values
y_test = df_test['above_average'].values

y_train

array([0, 0, 1, ..., 0, 0, 0])

In [22]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [23]:
from sklearn.metrics import mutual_info_score
categ = ["make", "model", "transmission_type", "vehicle_style"]

In [24]:
def mutual_score(series):
    return mutual_info_score(series, df_full_train["above_average"])

In [25]:

mi = df_full_train[categ].apply(mutual_score)
round(mi.sort_values(ascending=False), 2)

model                0.46
make                 0.24
vehicle_style        0.08
transmission_type    0.02
dtype: float64

In [26]:
from sklearn.feature_extraction import DictVectorizer

In [27]:
train_dic = df_train.to_dict(orient='records')

In [28]:
train_dic[0]

{'make': 'Mitsubishi',
 'model': 'Endeavor',
 'year': 2011,
 'engine_hp': 225.0,
 'engine_cylinders': 6.0,
 'transmission_type': 'AUTOMATIC',
 'vehicle_style': '4dr SUV',
 'highway_mpg': 19,
 'city_mpg': 15}

In [29]:
dv = DictVectorizer(sparse=False)

In [30]:
X_train = dv.fit_transform(train_dic)
X_train.shape

(7148, 943)

In [31]:
val_dic = df_val.to_dict(orient='records')
X_val = dv.transform(val_dic)

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [34]:
y_pred = model.predict_proba(X_val)[:, 1]

In [35]:
price_decision = (y_pred >= 0.5)

In [36]:
df_pred = pd.DataFrame()
df_pred['probability'] = y_pred
df_pred['prediction'] = price_decision.astype(int)
df_pred['actual'] = y_val
df_pred['correct'] = y_val == price_decision

df_pred

      probability  prediction  actual  correct
0        0.000307           0       0     True
1        0.997720           1       1     True
2        0.000070           0       0     True
3        0.193201           0       0     True
4        0.001111           0       0     True
...           ...         ...     ...      ...
2378     0.001649           0       0     True
2379     0.001266           0       0     True
2380     0.000101           0       0     True
2381     0.991014           1       1     True
2382     0.990913           1       1     True

[2383 rows x 4 columns]

In [37]:
df_pred.correct.mean()

0.946286193873269

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [39]:
df['price_log'] = np.log(df['price'])

C:\Users\user\AppData\Local\Temp\ipykernel_423432\1514537516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_log'] = np.log(df['price'])

In [40]:
# Convert categorical features to numerical using one-hot encoding
df = pd.get_dummies(df, columns=["make", "model", "transmission_type", "vehicle_style"])
df

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price,above_average,price_log,make_Acura,make_Alfa Romeo,...,vehicle_style_Convertible,vehicle_style_Convertible SUV,vehicle_style_Coupe,vehicle_style_Crew Cab Pickup,vehicle_style_Extended Cab Pickup,vehicle_style_Passenger Minivan,vehicle_style_Passenger Van,vehicle_style_Regular Cab Pickup,vehicle_style_Sedan,vehicle_style_Wagon
0,2011,335.0,6.0,26,19,46135,1,10.739327,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2011,300.0,6.0,28,19,40650,1,10.612754,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2011,300.0,6.0,28,20,36350,0,10.500949,0,0,...,0,0,1,0,0,0,0,0,0,0
3,2011,230.0,6.0,28,18,29450,0,10.290449,0,0,...,0,0,1,0,0,0,0,0,0,0
4,2011,230.0,6.0,28,18,34500,0,10.448715,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,2012,300.0,6.0,23,16,46120,1,10.739002,1,0,...,0,0,0,0,0,0,0,0,0,0
11910,2012,300.0,6.0,23,16,56670,1,10.945000,1,0,...,0,0,0,0,0,0,0,0,0,0
11911,2012,300.0,6.0,23,16,50620,1,10.832102,1,0,...,0,0,0,0,0,0,0,0,0,0
11912,2013,300.0,6.0,23,16,50920,1,10.838011,1,0,...,0,0,0,0,0,0,0,0,0,0
11913,2006,221.0,6.0,26,17,28995,0,10.274879,0,0,...,0,0,0,0,0,0,0,0,1,0

In [41]:
X = df.drop(columns=['price', 'price_log'])  # Features
y = df['price_log']  # Target variable

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
alpha_values = [0, 0.01, 0.1, 1, 10]
rmse_scores = []

In [44]:
# for alpha in alpha_values:
#     ridge_model = Ridge(alpha=alpha, solver='sag', random_state=42)
#     ridge_model.fit(X_train, y_train)
#     y_pred = ridge_model.predict(X_test)
#     rmse = np.sqrt(mean_squared_error(y_test, y_pred))
#     rmse_scores.append(round(rmse, 3))
X_train

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,above_average,make_Acura,make_Alfa Romeo,make_Aston Martin,make_Audi,...,vehicle_style_Convertible,vehicle_style_Convertible SUV,vehicle_style_Coupe,vehicle_style_Crew Cab Pickup,vehicle_style_Extended Cab Pickup,vehicle_style_Passenger Minivan,vehicle_style_Passenger Van,vehicle_style_Regular Cab Pickup,vehicle_style_Sedan,vehicle_style_Wagon
3181,2016,265.0,4.0,31,22,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5357,2017,449.0,8.0,18,14,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4874,2016,173.0,4.0,34,25,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8102,1993,180.0,6.0,16,11,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10400,2008,172.0,6.0,24,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,2014,181.0,4.0,26,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5191,2009,219.0,6.0,26,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5390,2016,220.0,4.0,33,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
860,2009,260.0,4.0,27,17,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7270,2015,235.0,4.0,28,21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
for alpha in alpha_values:
    ridge_model = Ridge(alpha=alpha, solver='sag', random_state=42)
    ridge_model.fit(X_train, y_train)
    y_pred = ridge_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    rmse_scores.append(round(rmse, 3))

In [46]:
for alpha, rmse in zip(alpha_values, rmse_scores):
    print(f"Alpha = {alpha}: RMSE = {rmse}")

Alpha = 0: RMSE = 0.485
Alpha = 0.01: RMSE = 0.485
Alpha = 0.1: RMSE = 0.485
Alpha = 1: RMSE = 0.485
Alpha = 10: RMSE = 0.485